<p-toast [style]="{marginTop: '80px'}" />
<div class="card pt-4">
    <p-table 
        #dt1
        [columns]="cols" 
        [value]="ordenes" 
        [paginator]="true"
        [rows]="5"
        [loading]="loading"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        stripedRows
    >
    <ng-template #caption>
        <div class="flex flex-wrap gap-2 mb-4">  <!--Filtro x mecanicos-->
            <p-divider align="left" class="m-0!"><b class="font-normal">Mecánicos</b></p-divider>
            <ng-container *ngFor="let mec of todosMecanicos">
                <div (click)="filterMecHandler(mec)"
                class="flex gap-2 items-center px-4 py-1 bg-gray-100 rounded-lg cursor-pointer hover:bg-gray-800 hover:text-white transition duration-200 ease-in-out">
                    <i class="pi pi-user-plus"></i>
                    <p>{{mec.nombre}}</p>
                </div>
            </ng-container>
            <ng-container *ngIf="mecanicosFiltrados.length > 0">
                <p-divider align="left"><b class="font-normal">Mecánicos filtrados</b></p-divider>
                <ng-container *ngFor="let mec of mecanicosFiltrados">
                    <div (click)="filterMecHandler(mec)" 
                    class="flex gap-2 items-center px-4 py-1 bg-lime-400 rounded-lg cursor-pointer hover:bg-lime-800 hover:text-white transition duration-200 ease-in-out">
                        <i class="pi pi-user-minus"></i>
                        <p>{{mec.nombre}}</p>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="flex flex-col-reverse sm:flex-row sm:justify-between gap-2 !border-0 w-full">
            <p-button label="Limpiar" severity="secondary" icon="pi pi-filter-slash" (click)="clear(dt1)" />
            <p-iconfield iconPosition="left">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText fluid type="text" class="w-full" (input)="filterGlobal($event, dt1)" placeholder="Busca por una palabra clave" />
            </p-iconfield>      
            <div class="w-48">
                <p-button class="w-full" fluid icon="pi pi-plus" label="Crear OT" (onClick)="irANuevaOrden()"/>
            </div>        
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th [class]="{'min-width:15rem':col.sort}" [pSortableColumn]="col.field" *ngFor="let col of columns">
                    <div class="flex items-center">
                        {{ col.header }}
                        <p-columnFilter [type]="col.type" *ngIf="col.sort === true" [field]="col.field" display="menu" />

                        <p-columnFilter field="estado" *ngIf="col.field === 'estado'" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-dropdown [(ngModel)]="selectedEstadoFilter" [options]="estado" (onChange)="filter(selectedEstadoFilter)" placeholder="Seleccione un estado" optionLabel="name" optionValue="code">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.name" [severity]="getSeverityEstado(option.code)"/>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                        <p-columnFilter field="prioridad" *ngIf="col.field === 'prioridad'" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-dropdown [(ngModel)]="selectedPrioridadFilter" [options]="prioridad" (onChange)="filter(selectedPrioridadFilter)" placeholder="Seleccione una prioridad" optionLabel="name" optionValue="code">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.name" [severity]="getSeverityPrioridad(option.code)"/>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field === 'estado' || col.field === 'prioridad'; else normalData">
                        <p-tag *ngIf="col.field === 'estado'" [value]="GetEstado(rowData[col.field])" [severity]="getSeverityEstado(rowData[col.field])"></p-tag>
                        <p-tag *ngIf="col.field === 'prioridad'" [value]="GetPrioridad(rowData[col.field])" [severity]="getSeverityPrioridad(rowData[col.field])"></p-tag>
                    </ng-container>

                    <ng-template #normalData>
                        {{ rowData[col.field] }}
                    </ng-template>
                    <div *ngIf="col.field =='actions'" class="flex justify-start w-full gap-2"> 
                        <p-button 
                            icon="pi pi-pen-to-square" 
                            (onClick)="validarYEditarOT(rowData['codigo'])"
                            pTooltip="Editar Orden de Trabajo"
                            tooltipPosition="top" />
                        
                        <!-- ✅ BOTÓN DE VER DETALLES -->
                        <p-button 
                            icon="pi pi-expand"
                            (onClick)="verDetallesOT(rowData['codigo'])"
                            pTooltip="Ver detalles"
                            tooltipPosition="top" />
                    </div>
                </td>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="cols.length" class="text-center">No se encontraron órdenes de trabajo.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
