<p-dialog 
[visible]="visible"
[modal]="true" 
closeOnEscape="true"
[style]="{ width: '30rem' }"
[contentStyle]="{ 'max-height': '100vh', 'overflow': 'auto' }"
>
<ng-template #headless>
    <div class="flex flex-col px-6 py-6 gap-6 rounded-2xl h-full max-h-[80vh] overflow-hidden">
      <!-- Header con título y botón de cierre -->
      <div class="flex justify-between items-center">
        <h5 class="text-2xl text-black">{{titleDialog}}</h5>
        <p-button 
          icon="pi pi-times" 
          severity="secondary"
          size="small"
          (onClick)="closeDialog()"
          aria-label="Cerrar"
        />
      </div>
  
      <div class="overflow-y-auto grow pr-2">
          <app-formulario-persona 
            #formularioPersona
            [personaVariante]="persona" 
            [modoEdicion]="esEdicion"
            [datosIniciales]="datosPersonaEdicion"
            (formSubmitted)="responseDialogPropietariosForm($event)">
          </app-formulario-persona>    
      </div>
    </div>
</ng-template>
  
</p-dialog>