<div class="card" style="margin-bottom: 0;"> <!--CONTENIDO PRINCIPAL-->
    <p-table 
    #dt4
    [columns]="cols" 
    [value]="compras" 
    [paginator]="true"
    [rows]="5"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    stripedRows
    >
    <ng-template #caption>
        <div class="flex flex-col-reverse sm:flex-row sm:justify-between gap-2 w-full">
            <p-button label="Limpiar" severity="secondary" icon="pi pi-filter-slash" (click)="clear(dt4)" />
            <p-iconfield iconPosition="left" class="mr-1">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" class="w-full" (input)="filterGlobal($event, dt4)" placeholder="Busca por una palabra clave" />
            </p-iconfield>
            <div class="flex gap-2 justify-between">
                <p-button (click)="OnExportButton()" severity="secondary" icon="pi pi-file-export" label="Exportar"></p-button>
                <p-button (click)="abrirNuevaPestana()" class="w-full sm:min-w-48" icon="pi pi-plus" label="Agregar Adquisición"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template #header let-columns>
        <tr>
            <th [class]="{'min-width:15rem':col.sort}" [pSortableColumn]="col.field" *ngFor="let col of columns">
                <div class="flex items-center w-full">
                    {{ col.header }}
                    <p-columnFilter [type]="col.type" *ngIf="col.sort === true" [field]="col.field" display="menu" />
                </div>
            </th>
        </tr>
        
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
        <tr>
            <td  *ngFor="let col of columns">
                <ng-container 
                *ngIf="col.field === 'fechaRegistro' 
                || col.field === 'subtotal' 
                || col.field === 'iva'
                || col.field === 'total' 
                || col.field === 'nombres';
                else normalData">
                    <p *ngIf="col.field === 'fechaRegistro'">{{formatDate(rowData['fechaRegistro'])}}</p>
                    <p *ngIf="col.field === 'nombres'">{{getNameProvider(rowData['numeroFactura'])}}</p>
                    <p *ngIf="col.field === 'subtotal'">{{rowData['subtotal'] | currency:'USD':'symbol-narrow'}}</p>
                    <p *ngIf="col.field === 'iva'">{{rowData['iva'] | currency:'USD':'symbol-narrow'}}</p>
                    <p *ngIf="col.field === 'total'">{{rowData['total'] | currency:'USD':'symbol-narrow'}}</p>
                </ng-container>
                <ng-template #normalData>
                    <p>{{ rowData[col.field] }}</p>
                    <div *ngIf="col.field =='actions'" class="flex justify-start w-full gap-2"> 
                        <p-button icon="pi pi-pen-to-square" (click)="redirectEditPage(rowData['numeroFactura'])" [rounded]="true" [text]="true" [raised]="true" severity="secondary" />
                        <p-button icon="pi pi-download" [rounded]="true" [text]="true" [raised]="true" severity="secondary" (click)="DownloadFile(rowData['idAdjunto'])" />
                    </div>
                </ng-template>
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>